div
  label(for="title") Title:
  input(type="text", name="title" value=song.title)
div
  label(for="artist") Artist:
  input(type="text", name="artist" value=song.artist)
div
  label(for="album") Album:
  input(type="text", name="album" value=song.album)
div
  label(for="genre") Genre:
  input(type="text", name="genre" value=song.genre)
div
  label(for="album_art") Album Art:
  input(type="text", name="album_art" value=song.album_art)
div
  label(for="file_location") File Location:
  input(type="text", name="file_location" value=song.file_location)
input(type="submit")